<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho 1 – Fã-clube da Amazon</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="menu__item"><a href="index.html">Motivação</a></li>
            <li class="menu__item"><a href="historia.html">História</a></li>
            <li class="menu__item"><a href="quiz.html">Quiz</a></li>
            <li class="menu__item"><a href="referencias.html">Referências</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="titulo">Motivação</h1>
        <div class="conteudo">
            <div class="conteudo__bloco">
                <p>
                    Caro usuário,
                    <br>
                    Confessamos que escolher o tema para a realização desse projeto foi um trabalho árduo. Depois de muito discutirmos sobre todas as inúmeras possibilidades de temas que imaginamos, como contar a história da lasanha ou da batata, acabamos escolhendo falar sobre a Amazon. Essa gigante do comércio e da tecnologia com certeza tem muito a acrescentar na vida de qualquer pessoa. Para além da razão de querer ajudá-los a entender um pouco mais sobre essa empresa tão influente, escolhemos esse tema por sermos dois entusiastas do empreendedorismo, esse mundo que nunca esteve tão ligado e dependente da tecnologia.
                </p>
            </div>
        </div>
    </div>
</body>
</html>