<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho 1 – Fã-clube da Amazon</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="menu__item"><a href="index.html">Motivação</a></li>
            <li class="menu__item"><a href="historia.html">História</a></li>
            <li class="menu__item"><a href="quiz.html">Quiz</a></li>
            <li class="menu__item"><a href="referencias.html">Referências</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="titulo">Referências</h1>
        <div class="conteudo">
            <ul class="referencias">
                <li class="referencias__item">
                    <a href="https://bit.ly/3xHDPDw" target="_blank">História da Amazon - ecommerce de sucesso</a>
                </li>
                <li class="referencias__item">
                    <a href="https://bit.ly/3iesbJC" target="_blank">Estratégia de vendas - Endeavor.org</a>
                </li>
                <li class="referencias__item">
                    <a href="https://bit.ly/3hEO71J" target="_blank">O incrível crescimento da empresa - Finanças Yahoo</a>
                </li>
                <li class="referencias__item">
                    <a href="https://youtu.be/RVVfJVj5z8s" target="_blank">A criação do “Império Amazon" - FRONTLINE</a>
                </li>
                <li class="referencias__item">
                    <a href="https://bit.ly/2T97tSW" target="_blank">Amazon pioneira do Ecommerce - Tec mundo</a>
                </li>
                <li class="referencias__item">
                    <a href="https://bit.ly/3eljxI9" target="_blank">Amazon - Canal Tech</a>
                </li>
                <li class="referencias__item">
                    <a href="https://bit.ly/3iar0ef" target="_blank">História da Amazon - Oficina da Net</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>