<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho 1 – Fã-clube da Amazon</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="menu__item"><a href="index.html">Motivação</a></li>
            <li class="menu__item"><a href="historia.html">História</a></li>
            <li class="menu__item"><a href="quiz.html">Quiz</a></li>
            <li class="menu__item"><a href="referencias.html">Referências</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="titulo">História</h1>
        <ul class="ancora">
            <li class="ancora__item">
                <a href="#subtitulo-1">Introdução</a>
            </li>
            <li class="ancora__item">
                <a href="#subtitulo-2">O estouro da bolha</a>
            </li>
            <li class="ancora__item">
                <a href="#subtitulo-3">A volta por cima</a>
            </li>
        </ul>
        <div class="conteudo">
           <div class="conteudo__bloco">
               <h2 id="subtitulo-1" class="conteudo__titulo">Introdução</h2>
               <p class="conteudo__paragrafo">
                   Dentro do universo empreendedor, é essencial analisar os casos de sucesso. Dessa forma, ao estudar frequentemente grandes empresários e suas estratégias, não deixando de lado o fortalecimento pessoal, o indivíduo consegue se manter atualizado sobre novos produtos e as tendências do mercado naquele momento. Por isso, decidimos falar sobre a Amazon: uma das maiores motivações para todo jovem de negócios. Jeff Bezos, que começou a empresa do absoluto zero, é hoje um dos indivíduos mais influentes do mundo nesse setor.
                </p>
           </div>

           <img src="/public/imagens/amazon.jpg" alt="Logo da Amazon em uma parede" width="500" style="margin-bottom: 1.2rem">

           <div class="conteudo__bloco">
               <h2 id="subtitulo-2" class="conteudo__titulo">O estouro da bolha</h2>
               <p class="conteudo__paragrafo--azul">
                   Em 2000, com <a href="https://www.tecmundo.com.br/mercado/124475-historia-estouro-bolha-da-internet-ano-2000-video.htm" class="link--bold">o estouro da bolha da Internet</a>, muitas organizações faliram. Vários investidores profissionais e pequenos participantes da bolsa americana estavam colocando seus investimentos nas novas e inovadoras empresas de tecnologia. Entretanto, esse movimento foi interrompido e as ações da Amazon despencaram de 100 para 6 dólares, representando uma queda brusca para qualquer empresa.
                </p>
           </div>
           <div class="conteudo__bloco">
               <h2 id="subtitulo-3" class="conteudo__titulo">A volta por cima</h2>
               <p class="conteudo__paragrafo">
                   Para a surpresa de muitos na época, a Amazon sobreviveu à grande queda e se mostrou um forte concorrente no mercado. Através da criação de novos produtos, como armazenamento de dados em nuvem e serviços de streaming e o uso inteligente da tecnologia para atrair novos consumidores, a empresa se consolidou e hoje em dia é uma das maiores do mundo em valor de mercado.
                </p>
           </div>

           <img src="/public/imagens/jeff_bezzos.jpg" alt="Jeff Bezzos feliz ao lado da logo da Amazon" width="500" style="margin-bottom: 5rem;">

        </div>
    </div>
</body>
</html>