<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho 1 – Fã-clube da Amazon</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="menu__item"><a href="index.html">Motivação</a></li>
            <li class="menu__item"><a href="historia.html">História</a></li>
            <li class="menu__item"><a href="quiz.html">Quiz</a></li>
            <li class="menu__item"><a href="referencias.html">Referências</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="titulo">Quiz</h1>
        <div class="conteudo">
            <form class="formulario">
                    <div class="dados">
                        <label class="dados__email">Email</label>
                        <input type="text" class="dados__campo">
                    </div>
                    <div class="dados">
                        <label class="dados__data">Data</label>
                        <input type="date" class="dados__campo">
                    </div>
                
                <fieldset>
                    <div class="questao">
                        <label for="primeira-pergunta" class="questao__enunciado">1 - Quando e por quem foi criada?</label>
                        <textarea id="primeira-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label for="segunda-pergunta" class="questao__enunciado">2 - Qual a história do nome "Amazon"?</label>
                        <textarea id="segunda-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label for="terceira-pergunta" class="questao__enunciado">3 - Qual a história do logo da empresa?</label>
                        <textarea id="terceira-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label for="quarta-pergunta" class="questao__enunciado">4 - Quem é o atual CEO?</label>
                        <textarea id="quarta-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label for="quinta-pergunta" class="questao__enunciado">5 - Qual o setor de atuação?</label>
                        <textarea id="quinta-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label class="questao__enunciado">6 - Qual a única alternativa que não indica um serviço oferecido pela empresa:</label>
                        <div class="resposta">
                            <div>
                                <input name="resposta" type="radio" class="resposta__campo">
                                <label>Kindle</label>
                            </div>
                            <div>
                                <input name="resposta" type="radio" class="resposta__campo">
                                <label>Amazon Web Services</label>
                            </div>
                            <div>
                                <input name="resposta" type="radio" class="resposta__campo">
                                <label>Comércio virtual</label>
                            </div>
                            <div>
                                <input name="resposta" type="radio" class="resposta__campo">
                                <label>Petshop</label>
                            </div>
                        </div>
                    </div>
                    <div class="questao">
                        <label for="setima-pergunta" class="questao__enunciado">7 - Qual a estratégia de vendas?</label>
                        <textarea id="setima-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label for="oitava-pergunta" class="questao__enunciado">8 - A companhia sempre foi lucrativa?</label>
                        <textarea id="oitava-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label for="nona-pergunta" class="questao__enunciado">9 - A empresa possui lojas físicas?</label>
                        <textarea id="nona-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label for="decima-pergunta" class="questao__enunciado">10 - Qual a história e propósito do Kindle?</label>
                        <textarea id="decima-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="questao">
                        <label class="questao__enunciado">11 - Marque a/as alternativa(s) que não representa(m) um dos produtos inovadores da empresa:</label>
                        <div class="resposta">
                            <div>
                                <input type="checkbox" class="resposta__campo">
                                <label>Amazon GO</label>
                            </div>
                            <div>
                                <input type="checkbox" class="resposta__campo">
                                <label>Amazon Dash</label>
                            </div>
                            <div>
                                <input type="checkbox" class="resposta__campo">
                                <label>Amazon Squash</label>
                            </div>
                            <div>
                                <input type="checkbox" class="resposta__campo">
                                <label>Amazon Echo</label>
                            </div>
                        </div>
                    </div>
                    <div class="questao">
                        <label for="decima-segunda-pergunta" class="questao__enunciado">12 - Quais são os planos principais para o futuro da empresa?</label>
                        <textarea id="decima-segunda-pergunta" class="questao__campo"></textarea>
                    </div>
                    <div class="resultado">
                        <input type="submit" class="resultado__botao">
                        <!--No material é exigida uma tabela, que se encontra nessa página de respostas-->
                        <a target="_blank" href="respostas.html" class="resposta__link">Respostas</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>