<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho 1 – Fã-clube da Amazon</title>
    <link rel="stylesheet" href="index.css">

    <style>
        li a {
            font-weight: bold;
        }

        li {
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        text-align: left;    
        }
    </style>
</head>

<body>
    <ol>
        <li>
            A empresa foi criada em 5 de julho de 1994, em Seattle, nos Estados Unidos. Jeff Bezos e MacKenzie, sua esposa na época, abriram a empresa dentro da própria garagem.
        </li>
        
        <li>
            Desde o início da companhia, Bezos já pensava em um futuro brilhante e promissor. Por isso, inspirou-se no rio Amazonas, que é considerado o maior do mundo em extensão, para criar a Amazon. A ideia é de que um dia a empresa seria a maior do mundo no seu setor.
       </li>

        <li>
            Inicialmente, o logotipo da empresa usava textos em azul e vermelho e efeitos de água, técnicas bastante comuns na época. O ano 2000 foi quando o logotipo sofreu uma alteração, passando a ser a logo que conhecemos atualmente, com uma seta que vai de A a Z, indicando que ofereciam os mais diversos produtos, além, é claro, de a seta se assemelhar muito a um sorriso.
       </li>

        <li>
            Após 27 anos no controle da empresa, Bezos escolheu Andy Jassy, seu velho amigo, para comandar a companhia. Jassy comandava <a href="https://aws.amazon.com/pt/">a Amazon Web Services (AWS)</a>, que é a divisão de serviços de armazenamento e processamento de dados da empresa. O desempenho de Jassy nesse setor foi tão bom que a Amazon tem 33% de participação do mercado de infraestrutura de nuvem, contra os 18% da Microsoft e 9% da Google. Um fato positivo também é que a AWS hoje possui um lucro maior do que a própria loja.
            Mas isso não significa que Bezos deixará de trabalhar dentro da empresa. Após sair do cargo de CEO, ele ocupará o cargo de presidente-executivo do conselho. Portanto, pode-se afirmar que a empresa continua em boas mãos.
        </li>

        <li>
            <table style="width:100%">
                <tr>
                  <th>Ano</th>
                  <th colspan="2">Produto</th>
                </tr>
                
                <tr>
                  <td>1994</td>
                  <td>Começou com a venda de livros online.</td>
                </tr>
                
                <tr>
                  <td>1998</td>
                  <td>Início da venda de CDs e DVDs.</td>
                </tr>
                
                <tr>
                    <td>1999</td>
                  <td>Início da entrada de vendedores terceirizados.</td>
                </tr> 
                
                <tr>
                    <td>2002</td>
                  <td>Início da venda de roupas.</td>
                </tr>
                
                <tr>
                    <td>2006</td>
                  <td>Início da AWS(Amazon Web Services).</td>
                </tr>
                
                <tr>
                    <td>2007</td>
                  <td>Lançamento do Kindle, um tablet próprio para leitura.</td>
                </tr>
                
                <tr>
                    <td>2015</td>
                  <td>lançamento do Echo, plataforma para Alexa, assistente pessoal virtual.</td>
                </tr> 
                
                
              </table>
                
                <p> Por isso, pode-se afirmar que a empresa tem boa participação no E-commerce, por meio da loja online, mas não é seu único setor de atuação. </p>
        </li>

        <li>
            Como foi dito anteriormente, a empresa possui diversos produtos.
            <br>Entre os principais, estão:</br>
            <br>-Setor de E-commerce: responsável pelas vendas do site.</br>
            <br>-AWS: serviços de armazenamento e processamento de dados.</br>
            <br>-Kindle: serviço de leitura através de um tablet.</br>
        </li>

        <li>
            A estratégia da Amazon é oferecer um serviço de qualidade somado à baixa margem lucrativa. Ao disponibilizar um frete rápido e seguro, produtos baratos e uma grande confiabilidade, a empresa consegue atrair muito mais clientes.

            De acordo com Bezos, a estratégia da empresa é tão clara e simples que ele conseguiu escrever em um pequeno guardanapo, chamado de Napkin Diagram. Quanto mais produtos, mais experiência para o consumidor, mais tráfego, mais vendedores, mais crescimento, menos custo, mais preço baixo e por aí vai.
            
            Além disso, Bezos diz estar sempre atento aos produtos de seus concorrentes. Essa é uma estratégia essencial, porque contribui bastante para a empresa desenvolver novos produtos.
        </li>

        <li>
            Essa é uma informação que poucas pessoas sabem: a Amazon nem sempre foi lucrativa! Após quase 7 anos de prejuízo, a empresa começou a dar lucro no primeiro trimestre de 2001, apresentando um saldo positivo de 5 milhões de dólares naquele período.

            Já nos dias atuais, esse valor pode ser alcançado em um dia. Para um simples estudo de caso, no primeiro trimestre de 2021 a empresa registrou um lucro de 8,1 bilhões de dólares!
            
        </li>

        <li>
            Sim! Por mais que a empresa esteja concentrada no E-commerce, a Amazon possui algumas lojas físicas, sendo sua sede em Seattle, o mesmo lugar onde Bezos fundou a companhia.
        </li>
        
        <li>
            Desde o início da empresa, Bezos gostaria de revolucionar a forma em que as pessoas acessam os serviços de leitura. Por isso, em 2007, a Amazon apresentou ao mundo o Kindle, um serviço que disponibiliza uma biblioteca gigantesca dentro de um pequeno tablet. A tela simula um papel, o que torna o dispositivo um mecanismo perfeito para ler por horas e horas sem cansar a vista.
        </li>
        <li>
            Em 2014 a empresa lançou seu smartphone, o Fire Phone. Com efeitos de profundidade na interface e uma câmera excelente para a época, o aparelho era capaz de identificar textos e produtos e redirecionava os usuários direto para a loja virtual da empresa. No entanto, somente esses atributos não foram o suficiente e o produto foi um grande fracasso. Com o lançamento de smartphones de outras empresas também conhecidas, como Apple e Samsung, o produto foi facilmente superado nas suas especificações técnicas.
	
            Com o tempo, novas ideias foram surgindo e sendo desenvolvidas, como o <a href="https://www.amazon.com/Amazon-Prime-Air/b?ie=UTF8&node=8037720011">Prime Air</a>, o <a href="https://www.youtube.com/watch?v=J37pM_l-Uw8">Amazon GO</a>, o <a href="https://www.youtube.com/watch?v=aNCRu6u8WgU">Amazon Dash </a>e seu mais novo lançamento,  <a href="">o Amazon Echo</a>. Caso você queira se aprofundar nesses produtos, estamos disponibilizando um acesso rápido aos links informacionais com apenas um clique!
        </li>

        <li>Bezos e Andy ainda não divulgaram planos específicos ou novos produtos, mas já se sabe que a Amazon prosseguirá seu método de vendas. Ou seja, a companhia se desenvolverá em atender mais ainda os pedidos dos clientes, por meio de um sistema de frete grátis ainda mais avançado e através do uso dos sistemas de informação para oferecer o produto certo para o cliente. Sobre a administração da empresa, pode-se afirmar que o mercado está otimista com a administração de Andy Jassy. Na mesma semana em que Andy assumiu o cargo de CEO, as ações da Amazon bateram o recorde histórico. Portanto, sabemos que a empresa está em ótimas mãos e torço para que a Amazon continue sendo uma das protagonistas do E-commerce.
        </li>
        
    </ol>

    <a href="http://127.0.0.1:5500/quiz.html" style="font-size: 20pt;">Voltar</a>
</body>
</html>